<!-- layouts/partials/certifications-list.html -->
<div class="certifications-container">
    <!-- First Row -->
    <div class="certificate-item">
      <img src="/images/certifications/certificate1.jpg" alt="Certificate 1">
      <h3>Certificate Title 1</h3>
    </div>
    <div class="certificate-item">
      <img src="/images/certifications/certificate2.jpg" alt="Certificate 2">
      <h3>Certificate Title 2</h3>
    </div>
  
    <!-- Second Row -->
    <div class="certificate-item">
      <img src="/images/certifications/certificate3.jpg" alt="Certificate 3">
      <h3>Certificate Title 3</h3>
    </div>
    <div class="certificate-item">
      <img src="/images/certifications/certificate4.jpg" alt="Certificate 4">
      <h3>Certificate Title 4</h3>
    </div>
  
    <!-- Third Row -->
    <div class="certificate-item">
      <img src="/images/certifications/certificate5.jpg" alt="Certificate 5">
      <h3>Certificate Title 5</h3>
    </div>
    <div class="certificate-item">
      <img src="/images/certifications/certificate6.jpg" alt="Certificate 6">
      <h3>Certificate Title 6</h3>
    </div>
  </div>
  